@utility full-container {
    position: relative;
    width: 100vw;
    height: 100dvh;
    overflow-x: hidden;
}

@utility border-hsla {
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.2);
}

@utility nav-hover-btn {
    @apply relative ms-10 font-general text-xs uppercase text-blue-50 cursor-pointer;

    &::after {
        @apply absolute -bottom-0.5 left-0 h-[2px] w-full origin-bottom-right scale-x-0 bg-neutral-800 transition-transform duration-300 ease-[cubic-bezier(0.65_0.05_0.36_1)] dark:bg-white;
        content: '';
    }

    &:hover::after {
        @apply origin-bottom-left scale-x-100;
    }
}

@utility floating-nav {
    background-color: #000;
    border-radius: 0.5rem; /* rounded-lg */
    border-width: 1px;
}

@utility absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@utility flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@utility mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@utility special-font {
    font-family: 'zentry';
    font-feature-settings: 'ss01' on;
}

@utility indicator-line {
    height: 0.25rem; /* h-1 */
    width: 2px; /* w-px */
    border-radius: 9999px; /* rounded-full */
    background-color: white;
    transition: all 0.2s ease-in-out;

    &.active {
        animation: indicator-line 0.5s ease infinite;
        animation-delay: calc(var(--animation-order) * 0.1s);
    }
}
