@import url('https://fonts.cdnfonts.com/css/general-sans');

@import 'tailwindcss';
@import './styles/base.css';
@import './styles/utilities.css';
@import './styles/components.css';

@theme {
    /* FONTS */
    --font-zentry: 'zentry', sans-serif;
    --font-circular: 'circular-web' sans-serif;
    --font-general: 'general' sans-serif;
    --font-robert-medium: 'robert-medium' sans-serif;
    --font-robert-regular: 'robert-regular' sans-serif;

    /* COLORS */
    --color-blue-50: #dfdff0;
    --color-blue-75: #dfdff2;
    --color-blue-100: #f0f2fa;
    --color-blue-200: #101010;
    --color-blue-300: #4fb7dd;
    --color-violet-300: #5724ff;
    --color-yellow-100: #8e983f;
    --color-yellow-300: #edff66;
}
